* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

/* banner style */

.banner {
    text-align: right;
    padding-top: 145px;
    padding-right: 200px;
}

.banner-bg {
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    position: center;
}


.banner-heading {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 0;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 10pxpx;

}

.Contact-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;

    border: 0;

}

/* My Failures part */

.failures {
    display: flex;
    margin-top: 100px;
}

.fail-img {
    margin-left: 100px;
}

.fail-div {
    margin-top: 200px;
    margin-left: 100px;
}

.fail-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.fail-sub-title {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.fa-solid {
    color: #F15B22;
}

/* my plan style */
.plan-head {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plan-four-box {
    display: flex;
    justify-content: space-around;
    margin: 80px 300px;

}

.box-skill {
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}

.box-want {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.plan-box {
    text-align: center;
}

/* mind-set part */
.mindset-header {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;

}

.call-btn {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    border: 0;
    background: #FFFFFF;
}

.mind-set {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px background-size: cover;
    position: center;
    margin: 80px 300px;
    padding: 40px 0px 60px 60px;
}

/* partner Company */
#partners-heading {
    font-size: 55px;
}

.partners-paragraph {
    font-size: 20px;
    color: rgb(134, 132, 132);
}

#company-img {
    margin-top: 0px;
    text-align: center;
}

.partners {
    text-align: center;
    margin-top: 0px;
    padding-top: 5px;
}

.rolex {
    padding-bottom: 100px;
}

/* footer style */
.footer {
    display: flex;
    width: 1685px;
    height: 577px;
    background: #151414;
    justify-content: space-around;
}

.footer-header {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.subscribe {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.future-left {
    margin-top: 100px;
    margin-left: 200px;
}

.future-right {
    margin-top: 150px;
    margin-right: 300px;
}

input {
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2836.3px;
    margin-bottom: 10px;
    font-size: 20px;
}